on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

name: Release Please

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org'
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
          command: manifest
          token: ${{secrets.RELEASE_PLEASE_TOKEN}}
          default-branch: main
